{% extends 'serviteurs/base.html' %}
<!-- partie head -->
{% block title %} <title> Gestion de serviteurs </title>{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "serviteurs/carte_serviteur.css" %}">
{% endblock %}

<!-- partie body -->
{% block topinfo %}
    cette section est reservé
    en ce qui conserne la gestion de serviteurs
{% endblock %}
{% block content_sidebar %}
    <h3>Dans cette section</h3>
    <ul>
        <li> <a href="{% url 'serviteur-nouveau' %} " class="sidelien"> Enregistrer un nouveau serviteur </a> </li>
        <li>modifer les information d'un serviteur</li>
        <li>Suprimer un serviteurs</li>
    </ul>
{% endblock %}
{% block maincontent %}
    <h2 class="bigtitle">Liste de serviteur</h2>
    <hr>
    {% if liste_de_serviteurs %}
        <div class="allcontent">
        {% for serviteur in liste_de_serviteurs %}
                <div class="card">
                    <div class="additional">
                        <div class="user-card">
                            <div class="level center">
                                <a href="{{ serviteur.get_absolute_url }}">Plus d'infos</a>

                            </div>
                            <div class="points center">
                                <a href="{% url 'serviteur-modification' serviteur.pk %}">modifier infos</a>
                            </div>
                            <div class="center"> <img src="{{ serviteur.doc.url }}" alt="photo"></div>
                        </div>
                        <div class="more-info">
                            <h1 style="text-transform: capitalize">{{ serviteur.prenom }}</h1>
                            <div class="coords">
                                <span>Departement :</span>
                                <span>nom du Departement</span>
                            </div>
                            <div class="coords">
                                <span>Position/Role ;</span>
                                <span>membres simple/president</span>
                            </div>
                        </div>
                    </div>
                    <div class="general">
                        <h1 style="text-transform: capitalize">{{ serviteur.prenom }}</h1>
                        <p>
                            petite remarque ou intension à l'egard de la personne
                        </p>
                        <span class="more">{{ serviteur.adresse }}</span>
                    </div>
                </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Aucune donnée n'a encore était enregistré dans la base de donnée</p>
    {% endif %}
{% endblock %}
