.liste{
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.containerDetail{
    width: 95%;
    display: flex;
}

.photoDetail h2{
    margin-left: auto;
    margin-right: auto;
}
.photoDetail{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoDetail{
    width: 60%;
    background-color: white;
}